*    {
  border: none;
  /* background: transparent; */
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: '0xProto Nerd Font';
  font-size: 16px;
}

window#waybar {
    background-color: rgba(59, 40, 81, 0.7);
    border-radius: 12px;
    color: rgba(21, 23, 32, 0.65);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


#workspaces button {
  padding: 0 2px;
  color: #623b8a;
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

#workspaces but8on.focused {
  color: #c416db;
}

#workspaces button.active {
  color: #c416db;
}

#workspaces button.urgent {
  background-color: #d934ad;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 12px;
}

#window {
  /* border-radius: 20px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  /* color: #64727d; */
     padding-left: 5px;
     padding-right: 5px;
     color: #db16d5;
}

window#waybar.empty #window {
    background-color: rgba(0, 0, 0, 0);
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio {
  color: #9616db;
  /* color: #bf616a; */
  background-color: rgba(21, 23, 32, 0.65);
  padding: 0px 12px;
  border-radius: 12px;
  margin: 4px 0px 4px 0px;
}

#cpu {
  margin:0px;
  padding:0px 10px;
  color: #9616db;
  margin: 4px 0px 4px 0px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-left: 2px;
  background-color: rgba(21, 23, 32, 0.65);
}

#memory {
  margin:0px;
  padding:0px 10px;
  color: #9616db;
  margin: 4px 0px 4px 0px;
  border-left: 2px;
  background-color: rgba(21, 23, 32, 0.65);
}

#custom-spacer_pipe,
#custom-spacer_slash {
  margin:0px;
  padding:0px 0px;
  color: #9616db;
  margin: 4px 0px 4px 0px;
  background-color: rgba(21, 23, 32, 0.65);
}

#custom-apps {
  color: #9616db;
  background-color: rgba(21, 23, 32, 0.65);
  padding: 0px 12px;
  border-radius: 18px;
  margin: 4px 0px 4px 4px;

}

#tray {
  color: #9616db;
  background-color: rgba(21, 23, 32, 0.65);
  padding: 0px 12px;
  border-radius: 18px;
  margin: 4px 0px 4px 0px;
  opacity: 0.9;
}


#workspaces {
  background-color: rgba(21, 23, 32, 0.65);
  padding: 0px 8px;
  border-radius: 18px;
  margin: 4px 0px 4px 4px;
}

#window {
  margin: 0 0px;
  background-color: rgba(21, 23, 32, 0.65);
  padding: 0px 12px;
  border-radius: 18px;
  margin: 4px 0px 4px 0px;
}

#custom-power-menu {
  color: #9616db;
  padding: 0px 8px;
  border-radius: 18px;
  margin: 4px 0px 4px 0px;
}

#custom-system {
  color: #9616db;
  padding: 0px 8px;
  border-radius: 18px;
  margin: 4px 0px 4px 0px;
}

#custom-settings {
  color: #9616db;
  padding: 0px 8px;
  border-radius: 18px;
  margin: 4px 0px 4px 0px;
}

#custom-launcher {
  background-color: rgba(21, 23, 32, 0.65);
  color: #6a92d7;
  padding: 0px 12px;
  border-radius: 12px;
  margin: 4px 0px 4px 0px;
}

#pulseaudio {
  color: #c416db;
  padding: 0px 12px;
  border-radius: 12px;
  margin: 4px 0px 4px 0px;
}

#backlight {
  /* color: #EBCB12B; */
  color: #db16d5;
  padding: 0px 12px;
  border-radius: 12px;
  margin: 4px 0px 4px 0px;
}

#clock {
  color: #d59dfc;
  /* background-color: #14141e; */
  padding: 0px 12px;
  border-radius: 12px;
  margin: 4px 4px 4px 0px;
}

#battery {
  color: #a316db;
  /* background-color: #90b1b1; */
  padding: 0px 12px;
  border-radius: 12px;
  margin: 4px 0px 4px 0px;
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: #a316db;
  /* background-color: #26a65b; */
  padding: 0px 12px;
  border-radius: 12px;
  margin: 4px 0px 4px 0px;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding: 0px 12px;
  border-radius: 12px;
  margin: 4px 0px 4px 0px;
}

label:focus {
  background-color: #000000;
}

#network {
  color: #b016db;
  padding: 0px 12px;
  border-radius: 0px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

  margin: 4px 0px 4px 0px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
  padding: 0px 12px;
  border-radius: 12px;
  margin: 4px 4px 4px 0px;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
  padding: 0px 12px;
  border-radius: 12px;
  margin: 4px 4px 4px 0px;
}

#keyboard-state > label {
  padding: 0 5px;
}


#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
 

#custom-updates {
  background-color: rgba(21, 23, 32, 0.65);
  padding: 0px 12px;
  border-radius: 12px;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  margin: 4px 0px 4px 0px;
}


#custom-updates.updated {
    color: #9616db;
}

#custom-updates.has-updates {
    color: #9616db;
}
