window {
  font-family: '0xProto Nerd Font Mono';
  font-size: 11pt;
  margin: 4px;
  border: 0px solid rgba(0, 0, 0, 0.9);
  background-color: rgba(21, 23, 32, 0.9);
  border-radius: 10px;
}

#input {
  margin: 4px;
  border: none;
  /* color: #f8f8f2; */
  color: #c39ee8;
  background-color: rgba(28, 28, 46, 0.9);
}

#inner-box {
  margin: 4px;
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 4px;
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 4px;
  border: none;
  /* color: #8b39ad; */
  color: #c39ee8;
}

#entry {
  /* border: 2px solid; */
  border-color: rgba(55, 59, 65, 0);
}

#entry:focus {
  /* border: 2px solid; */
  border-color: rgba(55, 59, 65, 0);
}

#entry:selected {
  background-color: rgba(55, 59, 65, 0);
  border-radius: 10px;
  border: 2px solid;
  border-color: #BA68C8;
  /* border-color: #5f34e0; */
}
