*{
  border: none;
  font-family: '0xProto Nerd Font';
  font-size: 16px;
}

window#waybar {
  color: rgba(21, 23, 32, 0.65);
  background-color: #1b1b1b;
;
  border-radius: 0px;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.empty #window {
  background-color: rgba(0, 0, 0, 0);
}

window#waybar.hidden {
  opacity: 0.2;
}

#taskbar,
#taskbar button.active,
#taskbar button,
#custom-menu,
#tray,
#tray > .passive,
#tray > .needs-attention,
#window,
#workspaces,
#backlight,
#custom-updates,
#pulseaudio,
#custom-settings,
#custom-system,
#custom-apps,
#battery,
#battery.charging,
#battery.full,
#battery.plugged,
#battery.critical:not(.charging),
#backlight,
#custom-power-menu,
#clock {
  border-radius: 18px;
}

/* #custom-menu, */
#window,
#workspaces,
#backlight,
#custom-updates,
#pulseaudio,
/* #custom-settings, */
/* #custom-system, */
/* #custom-apps, */
#battery,
#battery.charging,
#battery.full,
#battery.plugged,
#battery.critical:not(.charging),
#cpu,
#memory,
#network,
#backlight,
#custom-spacer_pipe,
#custom-spacer_slash,
#clock {
  background-color: rgba(0, 0, 0, 0);
}

#language{
  color: #e0af68;
}

#taskbar{
  background-color: #2b3047;
  margin-top: 4px;
  margin-bottom: 4px;
  transition: all 0.3s ease-in-out;
}

#taskbar button.active{
  background-color: #414868;
  transition: all 0.3s ease-in-out;
}

#taskbar button{
  background-color: #2b3047;
  transition: all 0.3s ease-in-out;
}

#custom-menu {
  color: #7aa2f7;
  /* border: 2px solid #eeeeee; */
  padding-left: 12px;
  padding-right: 6px;
}

#tray {
  color: #eeeeee;
  padding-right: 6px;
  padding-left: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #2b3047;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  background-color: #eb4d4b;
  -gtk-icon-effect: highlight;
}

#window {
  color: #bb9af7;
}

#workspaces {
  border: 0px;
  padding-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 15px;
  background-color: #2b3047;
}

#workspaces button {
  color: #ffffff;
  background-color: #2b3047;
  border: 0px;
  border-radius: 18px;
  transition: all 0.3s ease-in-out;
  /* padding: 0px 5px; */
  /* margin: 4px 3px; */
}

#workspaces button.active {
  color: #9ece6a;
  background-color: #414868;
  border-radius: 18px;
  min-width: 0px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.empty  {
  color: #9aa5ce;
  background-color: #2b3047;
}

#backlight {
  color: #9616db;
  padding: 0px 12px;
  margin: 4px 0px 4px 0px;
}

#custom-updates {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	padding-right: 6px;
}

#custom-updates.has-updates,
#custom-updates.updated {
  color: #ff9e64;
}

#pulseaudio {
  color: #f7768e;
  padding-left: 6px;
  padding-right: 6px;
}

#custom-settings,
#custom-system,
#custom-apps{
  color: #eeeeee;
  padding: 0px 8px;
  margin: 4px 0px 4px 0px;
}

/*****************
* GROUP SETTINGS *
*****************/

#battery {
  color: #a316db;
  padding: 0px 12px;
  margin: 4px 0px 4px 0px;
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: #a316db;
  padding: 0px 12px;
  margin: 4px 0px 4px 0px;
}

@keyframes blink {
  to {
    color: #abb2bf;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding: 0px 12px;
  margin: 4px 0px 4px 0px;
}

#backlight {
  color: #db16d5;
  padding: 0px 12px;
  margin: 4px 0px 4px 0px;
}

/*********************
* GROUP SETTINGS END *
*********************/

/***************
* GROUP SYSTEM *
***************/

#cpu {
  color: #7aa2f7;
  border-left: 2px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  padding:0px 10px;
  margin: 4px 0px 4px 0px;
}

#memory {
  color: #9ece6a;
  border-left: 2px;
  padding:0px 10px;
  margin: 4px 0px 4px 0px;
}

#network {
  color: #eeeeee;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  padding: 0px 12px;
  margin: 4px 0px 4px 0px;
}

/*******************
* GROUP SYSTEM END *
*******************/

/*************
* GROUP APPS *
*************/

#custom-terminal,
#custom-browser,
#custom-files,
#custom-messenger,
#custom-cad,
#custom-slicer {
  color: #eeeeee;
  padding: 0px 8px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: -10px;
  margin: 4px 0px 4px 0px;
}

/*****************
* GROUP APPS END *
*****************/

/**************
* GROUPS TOOL *
**************/

#custom-spacer_pipe,
#custom-spacer_slash {
  color: #eeeeee;
  padding:0px 0px;
  margin: 4px 0px 4px 0px;
}

/******************
* GROUPS TOOL END *
******************/

#custom-power-menu {
  color: #f7768e;
  padding-right: 12px;
  padding-left: 6px;

}

#clock {
  color: #bb9af7;
  padding-right: 6px;
  padding-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: #2b3047;
}


label:focus {
  background-color: #000000;
}
