*{
  border: none;
  font-family: '0xProto Nerd Font';
  font-size: 16px;
}

window#waybar {
    background-color: rgba(59, 40, 81, 0.1);
    border-radius: 0px;
    color: rgba(21, 23, 32, 0.65);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.empty #window {
    background-color: rgba(0, 0, 0, 0);
}

window#waybar.hidden {
    opacity: 0.2;
}

#custom-apps {
  color: #9616db;
  background-color: rgba(21, 23, 32, 0.65);
  padding: 0px 12px;
  border-radius: 18px;
  margin: 4px 0px 4px 15px;

}

#tray {
  color: #9616db;
  /* background-color: rgba(21, 23, 32, 0.65); */
  padding: 0px 12px;
  border-radius: 18px;
  margin: 4px 0px 4px 0px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
  padding: 0px 12px;
  border-radius: 12px;
  margin: 4px 4px 4px 0px;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
  padding: 0px 12px;
  border-radius: 12px;
  margin: 4px 4px 4px 0px;
}

#window {
     padding-left: 0px;
     padding-right: 0px;
     color: #db16d5;
}

#window {
  margin: 0 0px;
  background-color: rgba(21, 23, 32, 0.65);
  padding: 0px 12px;
  border-radius: 18px;
  margin: 4px 0px 4px 0px;
}

#workspaces {
  background-color: rgba(21, 23, 32, 0.6);
  margin: 5px 1px 6px 1px;
  padding: 0px 1px;
  border-radius: 18px;
  border: 0px;
}

#workspaces button {
  padding: 0 5px;
  color: #623b8a;
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 15px;
  border: 0px;
  transition: all 0.3s ease-in-out;
  background-color: rgba(57, 21, 94, 0.7);
}

#workspaces button.active {
  border-radius: 15px;
  min-width: 35px;
  transition: all 0.3s ease-in-out;
  color: #c416db;
  background-color: rgba(77, 28, 125, 0.8);
}

#backlight {
  color: #9616db;
  /* color: #bf616a; */
  background-color: rgba(21, 23, 32, 0.65);
  padding: 0px 12px;
  border-radius: 18px;
  margin: 4px 0px 4px 0px;
}

#custom-updates {
  background-color: rgba(21, 23, 32, 0.65);
  padding: 0px 12px;
  border-radius: 18px;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  margin: 4px 0px 4px 0px;
}

#custom-updates.updated {
    color: #9616db;
}

#custom-updates.has-updates {
    color: #9616db;
}

#pulseaudio {
  background-color: rgba(21, 23, 32, 0.65);
  color: #c416db;
  padding: 0px 12px;
  border-radius: 18px;
  margin: 4px 0px 4px 0px;
}

/*****************
* GROUP SETTINGS *
*****************/

#custom-settings {
  color: #d59dfc;
  padding: 0px 8px;
  border-radius: 18px;
  margin: 4px 0px 4px 0px;
}

#battery {
  color: #a316db;
  background-color: rgba(21, 23, 32, 0.65);
  padding: 0px 12px;
  border-radius: 12px;
  margin: 4px 0px 4px 0px;
}

#battery.charging,
#battery.full,
#battery.plugged {
  background-color: rgba(21, 23, 32, 0.65);
  color: #a316db;
  padding: 0px 12px;
  border-radius: 12px;
  margin: 4px 0px 4px 0px;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding: 0px 12px;
  border-radius: 12px;
  margin: 4px 0px 4px 0px;
}

#backlight {
  color: #db16d5;
  padding: 0px 12px;
  border-radius: 12px;
  margin: 4px 0px 4px 0px;
}

/*********************
* GROUP SETTINGS END *
*********************/

/***************
* GROUP SYSTEM *
***************/

#custom-system {
  color: #d59dfc;
  padding: 0px 8px;
  border-radius: 18px;
  margin: 4px 0px 4px 0px;
}

#cpu {
  margin:0px;
  padding:0px 10px;
  color: #9616db;
  margin: 4px 0px 4px 0px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border-left: 2px;
  background-color: rgba(21, 23, 32, 0.65);
}

#memory {
  margin:0px;
  padding:0px 10px;
  color: #9616db;
  margin: 4px 0px 4px 0px;
  border-left: 2px;
  background-color: rgba(21, 23, 32, 0.65);
}

#network {
  color: #b016db;
  padding: 0px 12px;
  border-radius: 0px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: rgba(21, 23, 32, 0.65);
  margin: 4px 0px 4px 0px;
}

/*******************
* GROUP SYSTEM END *
*******************/


/**************
* GROUPS TOOL *
**************/

#custom-spacer_pipe,
#custom-spacer_slash {
  margin:0px;
  padding:0px 0px;
  color: #9616db;
  margin: 4px 0px 4px 0px;
  background-color: rgba(21, 23, 32, 0.65);
}

/******************
* GROUPS TOOL END *
******************/

#custom-power-menu {
  color: #d59dfc;
  padding: 0px 8px;
  border-radius: 18px;
  margin: 4px 0px 4px 0px;
}

#clock {
  color: #d59dfc;
  /* background-color: #14141e; */
  padding: 0px 12px;
  border-radius: 18px;
  margin: 4px 15px 4px 0px;
  background-color: rgba(21, 23, 32, 0.65);
}


label:focus {
  background-color: #000000;
}
