window {
  font-family: '0xProto Nerd Font Mono';
  font-size: 11pt;
  margin: 4px;
  border: none;
  background-color: rgba(21, 23, 32, 1);
  border-radius: 10px;
}

#input {
  margin: 4px;
  border: none;
  /* color: #c39ee8;; */
  color: none;
  background-color: rgba(28, 28, 46, 0.7);
}

#inner-box {
  margin: 4px;
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 4px;
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 4px;
  border: none;
  /* color: #8b39ad; */
  color: #c39ee8;
}

#text:selected {
  background-color: transparent;
}

#entry {
  /* border: 2px solid; */
  background-color: transparent;
}

#entry:focus {
  background-color: transparent;
  border: 10px;
}

#entry:selected {
  background-color: rgba(55, 59, 65, 0);
  border-radius: 0px;
  border-bottom: 2px solid;
  border-color: #8b39ad;
  outline-color: transparent;
  /* border-color: #5f34e0; */
}
